

.area_atuacao{
    display: inline;

}

.area_atuacao_titulo{
    text-align: center;
    font-size: 40px;
    margin: 20px ;
    color: var(--amarelo);
}

.area_atuacao_especifico{
    display: flex;
    justify-content: space-around;
    margin: 0 8% 100px;
}


.area_atuacao_especifico_bloco{
    display: inline;
    text-align: center;
    padding: 10px 50px;
}

.area_atuacao_especifico_bloco img{
    height: 200px;
    width: 200px;
    margin: 10px 0;
    border-radius: 100px;
}

.area_atuacao_especifico_bloco h1{
    font-size: 30px;
    margin: 15px 0;
    color: var(--azul);
}


@media ( max-width:979px){

    .area_atuacao_especifico{
        display: flex;
        justify-content: space-around;
        margin: 0 4% 100px;
    }


    .area_atuacao_especifico_bloco{
        display: inline;
        text-align: center;
        padding: 10px 30px;
    }

    .area_atuacao_especifico_bloco img{
        height: 150px;
        width: 150px;
    }
    
    .area_atuacao_especifico_bloco h1{
        font-size: 25px;
        margin: 15px 0;
    }
}

@media ( max-width:730px){
    .area_atuacao_especifico{
        flex-direction: column;
    }

}

