.caixa_obrigado{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_obrigado{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 0;
}

.conteudo_obrigado h1{
    font-size: 8vh;
    color: var(--amarelo);
    margin: 0 0 5% 0;
}

.caixa_obrigado p{
    font-size: 3vh;
    font-weight: 700;
}


@media ( max-width:600px){
    .conteudo_obrigado h1{
        font-size: 6vh;
    }


    
}

@media ( max-width:450px){
    .conteudo_obrigado h1{
        font-size: 4vh;
    }

}