
:root {
    --azul: #244054;
    --marrom: #9c7846;
    --amarelo: #f3d788;
    --branco: #fff;
    --preto: #000;
  }
  

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Inicio do cabecalho*/

.cabecalho{
    border: 1px solid;
    background-color: #244054;
}

.banner{
    width: 100%;
}

.banner_imagem{
    width: 100%;
}

.cabecalho_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #244054;
}

.cabecalho_link{
    padding: 22px 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.cabecalho_link:hover{
    background-color: var(--amarelo);
    color: var(--marrom);
}

/*Fim cabecalho e Inicio corpo*/



.area_atuacao{
    background-color: var(--branco);
    margin: 50px 10%;
}


.area_atuacao_titulo{
    text-align: center;
    color: var(--amarelo);
    font-size: 30px;
}

.area_atuacao_descricao{
    display: inline;
}


.area_atuacao_descricao_bloco{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.area_atuacao_descricao_bloco_foto{
    text-align: center;
    font-size: 20px;
}

.area_atuacao_descricao_bloco_foto img{
    height: 200px;
    width: 200px;
}

.area_atuacao_descricao_bloco_servicos{
    display: flex;
    align-items: center;
}


.area_atuacao_descricao_bloco_servicos ul{
    list-style-type: none;
}

.area_atuacao_descricao_bloco_servicos li{
    padding: 5px 0;
}





/*RODAPE*/

.rodape{
    height: 150px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
    padding: 0 10%;
    color: #fff;
}

.rodape_nome img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 20px 0 0;
    
}

.rodape_nome{
    display: flex;
    align-items: center;
}

.rodape_redes img{
    width: 50px;
    height: 50px;
    padding: 10px;
}
